{% extends 'base.html' %}
{% block content %}
{% load static %}
{% block script %}

{% endblock %}
<!-- page-banner-area-start -->
        <div class="page-banner-area page-banner-height" data-background="{% static 'assets/img/banner/page-banner-3.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="page-banner-content text-center">
                            <h4 class="breadcrumb-title">FAQs</h4>
                            <div class="breadcrumb-two">
                                <nav>
                                   <nav class="breadcrumb-trail breadcrumbs">
                                      <ul class="breadcrumb-menu">
                                         <li class="breadcrumb-trail">
                                            <a href="index.html"><span>Home</span></a>
                                         </li>
                                         <li class="trail-item">
                                            <span>FAQs</span>
                                         </li>
                                      </ul>
                                   </nav> 
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-banner-area-end -->

        <!-- faq-area-start -->
        <div class="faq-area mt-70 mb-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="single-faqs mb-40">
                            <div class="faq-title">
                                <h5>Order and Returns</h5>
                            </div>
                            <div class="faq-content mt-10">
                                <div class="accordion" id="accordionExample1">
                                      <div class="accordion-item">
                                         <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                Can I order over the phone?
                                            </button>
                                         </h2>
                                         <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                            <p>We currently only have the desktop site, app in appstore and google playstore coming soon.</p>
                                            </div>
                                         </div>
                                      </div>
                                      <div class="accordion-item">
                                         <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                            Can I track my Order ?
                                            </button>
                                         </h2>
                                         <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>Yes, you can track your order and we will also provide you with SMS and e-mail to ensure your order reaches successfully</p> </div>
                                         </div>
                                      </div>
                                      <div class="accordion-item">
                                         <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                What are various ways of categorization?
                                            </button>
                                         </h2>
                                         <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                            <p> Various ways of categorization are category, brand, color & price.</p>
                                            </div>
                                         </div>
                                      </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-faqs mb-40">
                            <div class="faq-title">
                                <h5>Ordering from US</h5>
                            </div>
                            <div class="faq-content mt-10">
                                <div class="accordion" id="accordionExample2">
                                      <div class="accordion-item">
                                         <h2 class="accordion-header" id="heading1">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                            What is the rules of Payment?
                                            </button>
                                         </h2>
                                         <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                            <p>You can order via Paypal, Visa, Mastercard, American Express and various other credit/debit card but before that make sure you add your current address location so we can send the order in the desired location</p>
                                            </div>
                                         </div>
                                      </div>

                                      <div class="accordion-item">
                                         <h2 class="accordion-header" id="heading2">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapseTwo">
                                                How much do I need to pay?
                                            </button>
                                         </h2>
                                         <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                            <p>You must have an order maximum of Rs 1 million and a minimum of Rs 500.</p>
                                            </div>
                                         </div>
                                      </div>
                                      <div class="accordion-item">
                                         <h2 class="accordion-header" id="heading3">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                                Who is the founder of this site ?
                                            </button>
                                         </h2>
                                         <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                            <p>The founder of this site are the group members of kinam, currently studying Bachelor In Software Engineering in NCIT, final year.</p></div>
                                         </div>
                                      </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
                


            </div>
        </div>

        <div class="container">
            <div class="chatbox">
                <div class="chatbox__support">
                    <div class="chatbox__header">
                        <div class="chatbox__image--header">
                            <img src="{% static 'assets/img/chatbot-icon.png' %}" alt="image">
                        </div>
                        <div class="chatbox__content--header">
                            <h4 class="chatbox__heading--header">Chat support</h4>
                            <p class="chatbox__description--header">Hi. Welcome to Kinam. How can I help you?</p>
                        </div>
                    </div>
                    <div class="chatbox__messages">
                        <div></div>
                    </div>
                    <div class="chatbox__footer">
                        <input type="text" placeholder="Write a message...">
                        <button class="chatbox__send--footer send__button">Send</button>
                    </div>
                </div>
                <div class="chatbox__button">
                    <img src="{% static 'assets/img/chatbot-icon.png' %}" alt="image">
                </div>
            </div>
        </div>
        
        <!-- faq-area-end -->

        {% block back_to_top %} {% endblock %}
{% endblock %}