{% extends 'base.html' %}
{% load static %}

{% block content %}


<main>
    <!-- breadcrumb__area-start -->
    <section class="breadcrumb__area box-plr-75">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__wrapper">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Shop</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb__area-end -->

    <!-- product-details-start -->
    <div class="product-details">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="product__details-nav d-sm-flex align-items-start">
                        <ul class="nav nav-tabs flex-sm-column justify-content-between" id="productThumbTab"
                            role="tablist">
                            {% for i in product.product_image_set.all %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="thumb{{i.id}}-tab" data-bs-toggle="tab"
                                        data-bs-target="#thumb{{i.id}}" type="button" role="tab"
                                        aria-controls="thumb{{i.id}}" aria-selected="true">
                                    <img src="{{i.image_url}}" alt="" style="width:85px;height:85px;">
                                </button>
                            </li>
                            {% endfor %}

                        </ul>
                        <div class="product__details-thumb">
                            <div class="tab-content" id="productThumbContent">
                                <div class="tab-pane fade show active" id="thumb" role="tabpanel"
                                     aria-labelledby="thumb-tab">
                                    <div class="product__details-nav-thumb w-img">
                                        <img src="{{product.product_image_set.first.image_url}}" alt=""
                                             style="width:380px;height:450px;">
                                    </div>
                                </div>
                                {% for i in product.product_image_set.all %}

                                <div class="tab-pane fade show" id="thumb{{i.id}}" role="tabpanel"
                                     aria-labelledby="thumb{{i.id}}-tab">
                                    <div class="product__details-nav-thumb w-img">
                                        <img src="{{i.image_url}}" alt="" style="width:380px;height:450px;">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="product__details-content">
                        <h6>{{product.product_name}}</h6>

                            	<div class="rating-star">
		<span>
			<i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
			<i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
			<i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
			<i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
			<i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
			</span>
                                    <span>&nbsp;|&nbsp;{{product.countReview}} review</span>
                            <span>&nbsp;|&nbsp; Add your review</span>
	</div>



                        <div class="price mb-10">
                            <span>रू {{product.price}}</span>
                        </div>
                        <div class="features-des mb-20 mt-10">
                            <ul>
                                <li>
                                    {{product.Product_information|safe}}
                                </li>
                            </ul>
                        </div>
                        <div class="product-stock mb-20">
                            <h5>Availability: <span> {{product.Availability}}</span></h5>
                        </div>
                        <div class="cart-option mb-15">
                            <div class="product-quantity mr-20">

                            </div>
                            <form action="{% url 'add-to-cart' %}">
                                <input type="hidden" name="prod_id" value="{{product.id}}" id="product_id">
                                <button type="submit"
                                        class="cart-btn product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                                    Add to Cart
                                </button>
                            </form>
                        </div>
                        <div class="details-meta">
                            <div class="d-meta-left">
                                <div class="dm-item mr-20">
                                    <a href="#"><i class="fal fa-heart"></i>Add to wishlist</a>
                                </div>
                                <div class="dm-item">
                                    <a href="#"><i class="fal fa-layer-group"></i>Compare</a>
                                </div>
                            </div>
                            <div class="d-meta-left">
                                <div class="dm-item">
                                    <a href="#"><i class="fal fa-share-alt"></i>Share</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-tag-area mt-15">
                            <div class="product_info">
                                    <span class="sku_wrapper">
                                        <span class="title">Model Name:</span>
                                        <span class="sku">{{product.model_Name}}</span>
                                    </span>
                                <span class="posted_in">
                                        <span class="title">Categories:</span>
                                        <a href="#">{{product.Categories}}</a>

                                    </span>
                                <span class="tagged_as">
                                        <span class="title">Tags:</span>
                                        <a href="#">{{product.Tags}}</a>,
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- product-details-end -->

    <!-- product-details-des-start -->
    <div class="product-details-des mt-40 mb-60">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="product__details-des-tab">
                        <ul class="nav nav-tabs" id="productDesTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="des-tab" data-bs-toggle="tab" data-bs-target="#des"
                                        type="button" role="tab" aria-controls="des" aria-selected="true">Description
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="aditional-tab" data-bs-toggle="tab"
                                        data-bs-target="#aditional" type="button" role="tab" aria-controls="aditional"
                                        aria-selected="false">Additional information
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review"
                                        type="button" role="tab" aria-controls="review" aria-selected="false">Reviews
                                    ({{product.countReview}})
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="prodductDesTaContent">
                <div class="tab-pane fade active show" id="des" role="tabpanel" aria-labelledby="des-tab">
                    <div class="product__details-des-wrapper">
                        {{product.Description|safe}}
                    </div>
                </div>
                <div class="tab-pane fade" id="aditional" role="tabpanel" aria-labelledby="aditional-tab">
                    <div class="product__desc-info">
                        <ul>
                            {% for i in product.additional_information_set.all %}
                            <li>
                                <h6>{{i.specification}}</h6>
                                <span>{{i.detail}}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                    <div class="product__details-review">
                        <div class="row">



                            <div class="col-xl-8">
                                <div class="review-des-infod">
                                    <h6>Reviews for "<span>{{product.product_name}}</span>"</h6>
                                    {% for review in reviews %}
                                    <div class="review-details-des">
                                        <div class="author-image mr-15">
                                            <a href="#"><img src="{% static 'assets/img/author/author-sm-1.jpg' %}" alt=""></a>
                                        </div>


                                        <div class="review-details-content">
                                            <div class="str-info">
                                                <div class="rating-star">
								                <span>
									<i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}"
                                       aria-hidden="true"></i>
									<i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}"
                                       aria-hidden="true"></i>
									<i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}"
                                       aria-hidden="true"></i>
									<i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}"
                                       aria-hidden="true"></i>
									<i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}"
                                       aria-hidden="true"></i>
								                </span>
                                                </div>

                                            </div>
                                            <div class="name-date mb-30">
                                                <h6> {{review.user.username}} – <span> {{review.updated_at}}</span>
                                                </h6>
                                            </div>
                                            <h6>{{review.subject}}</h6>
                                            <p> {{review.review}} </p>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="product__details-comment ">
                                    <div class="comment-title mb-20">
                                        <h3>Add a review</h3>
                                        <p>Your email address will not be published. Required fields are marked </p>
                                    </div>
                                    <form action="{% url 'submit_review' product.id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="comment-rating mb-20">
                                            <span>Overall ratings :</span>
                                            <br>
                                            <div class="rate">

                                                <input type="radio" name="rating" id="rating10" value="5"
                                                       required/><label for="rating10" title="5"></label>
                                                <input type="radio" name="rating" id="rating9" value="4.5"
                                                       required/><label for="rating9" title="4.5" class="half"></label>
                                                <input type="radio" name="rating" id="rating8" value="4"
                                                       required/><label for="rating8" title="4"></label>
                                                <input type="radio" name="rating" id="rating7" value="3.5"
                                                       required/><label for="rating7" title="3.5" class="half"></label>
                                                <input type="radio" name="rating" id="rating6" value="3"
                                                       required/><label for="rating6" title="3"></label>
                                                <input type="radio" name="rating" id="rating5" value="2.5"
                                                       required/><label for="rating5" title="2.5" class="half"></label>
                                                <input type="radio" name="rating" id="rating4" value="2"
                                                       required/><label for="rating4" title="2"></label>
                                                <input type="radio" name="rating" id="rating3" value="1.5"
                                                       required/><label for="rating3" title="1.5" class="half"></label>
                                                <input type="radio" name="rating" id="rating2" value="1"
                                                       required/><label for="rating2" title="1"></label>
                                                <input type="radio" name="rating" id="rating1" value="0.5"
                                                       required/><label for="rating1" title="0.5" class="half"></label>


                                            </div>
                                        </div>
                                        <div class="comment-input-box">
                                            <div class="row">
                                                <div class="col-xxl-6 col-xl-6">
                                                    <div class="comment-input">
                                                        <input type="text" placeholder="Review Title" name="subject">
                                                    </div>
                                                </div>
                                                <div class="col-xxl-12">
                                                    <textarea placeholder="Your review"
                                                              class="comment-input comment-textarea"
                                                              name="review"></textarea>
                                                </div>

                                                <div class="col-xxl-12">
                                                    <div class="comment-submit">
                                                        {% if user.is_authenticated %}
                                                        <input type="submit" value="Submit Review" class="cart-btn">
                                                        {% else %}
                                                        <p>You must be logged in to post a review. <span><a
                                                                href="{% url 'login' %}">Login now</a></span></p>
                                                        {% endif %}
                                                    </div>
                                                    <hr>
                                                     {% if messages %}
                                                {% for message in messages %}
                                                {% if message.tags == 'success' %}
                                       <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                {{message}}
                                    <button type="button" class="close" data-dismiss="alert" aria-label ="Close">
                                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                       </div>
                                                 {% endif %}
                                             {% endfor %}
                                                 {% endif %}

                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
    <!-- product-details-des-end -->
    {% endblock %}